@font-face {
  font-family: Augusta;
  src: url(./fonts/augusta/Augusta.ttf);
}

body {
  background-color: #777;
  font-family: Augusta, sans-serif;
  font-size: 20px;
  color: #280300;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

footer nav li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
  padding: 1em;
  background-color: white;
  color: #282c34;
}

.Book {
    background: url(./img/burned-fibred-paper-1184519.png );
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 800px;
    min-height: 1150px;
    margin: 0 auto; 
    box-sizing: border-box;
    padding: 5em;
}

.Book a { 
  display: inline-block; 
  margin: 1rem 1rem 1rem 0;
  padding: 0.5rem 1rem; 
  text-decoration: none;
  background-color: #280300;
  color: #ac5f00;
  border-radius: 0.5em;
}
.Book a:hover { 
  color: #ac5f00;
}

.BookEditor textarea {
  width: 80%; 
  height: 120px;
}
.BookEditor a {
  cursor: pointer;
}

