@font-face {
  font-family: Augusta;
  src: url(./fonts/augusta/Augusta.ttf);
}

body {
  background-color: #777;
  font-family: Augusta, sans-serif;
  color: #280300;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

footer nav li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
  padding: 1em;
  background-color: white;
  color: #282c34;
}

.Book {
    background: url(./img/burned-fibred-paper-1184519.png );
    background-size: contain;
    background-repeat: no-repeat;
    width: 800px;
    height: 1150px;
    margin: 0 auto; 
    box-sizing: border-box;
    padding: 5em;
}

.Book a { 
  display: block; 
  margin: 1rem; 
  text-decoration: none;
}
.Book a:hover { 
}

.BookEditor textarea {
    width: 50%; 
    height: 120px;
}

