.App {
  text-align: justify;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Augusta;
  src: url(./fonts/augusta/Augusta.ttf);
}


body {
  width: 70%;
  margin-left: 25%;
  background-color: #777;
  font-family: sans-serif;
  color: #280300;
}

.Book {
    font-family: Augusta;
    background: url(./img/burned-fibred-paper-1184519.png );
    background-size: contain;
    background-repeat: no-repeat;
    width: 800px;
    height: 1150px;
    box-sizing: border-box;
    padding: 5em;
}

.Book a { 
  display: block; 
  margin: 1rem; 
  text-decoration: none;
}
.Book a:hover { 
}

.BookEditor textarea {
    width: 50%; 
    height: 120px;
}

header nav li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
  padding: 1em;
  background-color: white;
  color: #282c34;
}
